*{
  box-sizing: border-box;
}
body{
  background-color: rgb(207, 234, 234);
  font-family: 'poppins' , 'sans-serif';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  overflow: hidden;
}
.quiz-container{
  width: 600px;
  height: 400px;
  background-color: white;
  box-shadow: 0 0 10px 2px rgb(100,100,100,0.1);
  border-radius: 10px;
}
.quiz-header{
  padding: 4rem;
}
h2{
  padding: 1rem;
  text-align: center;
}
ul{
  list-style-type: none;
  padding: 20;
}
ul li{
  font-size: 1.2rem;
  padding: 9px;
}
ul li label{
  cursor: pointer;
}
button{
  width: 80%;
  height: 50px;
  border: none;
  background-color: rgb(115, 183, 232);
  margin-left: 50px;
  font-size: 15px;
  font-weight: bolder;
}
button:hover{
  background-color: rgb(56, 101, 134);
  color: white;
}
button:focus{
  background-color: green;
}
@media screen and (max-width:600px){
  .quiz-container{
    width: 300px;
    font-size: 13px;
    padding-top: 20px;
    margin-top: 60px;
  }
  button{
    width: 80%;
    margin-left: 30px;
  }
  ul li{
    font-size: 15px;
  }
}